*
{
    font-family: "Helvetica Neue", Helvetica, Arial , sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-transform: capitalize;
}

html
 {
    font-size: 62.5%;
 }

 .navbar .navbar-header-logo .navbar-brand
 {
    padding: 2rem 1.5rem;
 }
.navbar .navbar-header-logo .navbar-brand img
 {
    width: 7rem;
    
    
 }
 .navbar .navbar-header-logo .brand-text
 {
    color: #fff;
    font-size: 1.9rem;
 }
 .navbar .dropdown-container
 {
    margin-right: 9.5rem;
 }
 
#card-container
{

    margin: 5rem 4rem;
}

#card-container a
{
    text-decoration: none;
    color: #333;
}
#card-container .card:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

@media (max-width:768px)
{
   .navbar
   {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .navbar .dropdown-container
   {
       margin-left: -10rem;
   }
}
 @media (max-width:768px)
 {
    .navbar .navbar-header-logo .navbar-brand
    {
       padding: .9rem 1.1rem;
    }
 }